.stickyHeader {
  position: sticky;
  top: 0;
  background-color: var(--purple);
  display: flex;
  height: 3em;
  font-size: 120%;
}

.stickyHeader a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--foreground);
  transition: all 200ms ease-in-out;
  padding: 1em;
}

.stickyHeader a:hover {
  background-color: var(--pink);
}

.subtitleElements {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.metadatabox {
  width: 100%;
}

.metadatabox h1 {
  margin-bottom: 0.1em;
  font-size: 40pt;
}

.metadatabox p {
  margin-top: 0;
}
