.subtitleElements {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.metadatabox {
  width: 100%;
}

.metadatabox h1 {
  margin-bottom: 0.1em;
  font-size: 40pt;
}

.metadatabox p {
  margin-top: 0;
}

.tagList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
