.table th {
  transition: color 200ms;
  opacity: 0.7;
  padding-bottom: 2ex;
  border-bottom: 1px solid var(--accent-6);
}

.table th:hover,
.table .active {
  color: var(--accent-6);
}

.first {
  text-align: start;
}

.center {
  text-align: start;
  width: 12em;
}

.last {
  width: 8em;
  text-align: end;
}

.table tr {
  margin: 1px;
  box-sizing: border-box;
  border: 0px solid transparent;
  transition: opacity 250ms;
  opacity: 0.7;
}

.table td {
  padding: 3px;
}

.table > tbody > tr:hover {
  opacity: 1;
  background-color: var(--accent-6);
  color: var(--background);
}

.table a {
  color: var(--foreground);
  display: block;
}
.table tr:hover a {
  color: var(--background);
}

.table > :not(tbody:hover) > tr {
  opacity: 1;
}

.unread {
  font-weight: 700;
  color: var(--accent-4) !important;
}

.show {
  --toh: #9b24cd;
  --kog: #2c67fb;
  background-color: red;
  border-radius: 30%;
  font-size: 80%;
  font-weight: 700;
}

tr:hover .show {
  color: var(--accent-6);
}
