.container * {
  min-width: min(80vw, 600px);
  max-width: 600px;
}

.container ul {
  font-size: 110%;
}

input.search {
  border: 0px;
  border-bottom: 1px solid var(--accent-6);
  font-size: 120%;
  padding: 0.3em;
  outline: none;
  background-color: var(--background);
  color: var(--foreground);
}

.context {
  font-style: italic;
  font-size: 90%;
}

.context .hit {
  font-weight: 800;
  color: var(--accent-6);
}
