.metadataContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .submission img {
    width: 100vw !important;
    margin-left: -1em;
  }
}

.metadata {
  display: flex;
  align-items: center;
  gap: 2em;
}

.submission {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 4em;
}

.submission img {
  flex-shrink: 1;
  width: auto;
  height: auto;
}

.submissionHeader {
  transition: color 200ms ease;
}

@media (pointer: coarse) {
  .submissionHeader {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    scroll-margin-top: 80px;
  }
}

.submissionHeader:hover {
  color: var(--purple);
}
